total/g2/.env
total/g2/g2token
total/g2/temp.txt
total/g2/shifts.txt
total/g2/tickets.txt
total/g2/vpn.vbs
total/g2/test.json
total/g2/shifts.png
total/g2/May.xlsx
total/g2/freshservice.png
total/g2/scraper.bat
total/g2/shifts.bat
total/g2/clock-logo-png-clip-art.png
webhelp/erec.bat
.DS_Store
alerts.json
firestore_key.json
G2Alerts-18e91090b203.json
requirements.txt
shifts.txt
temp.txt
